/* ********Custom Properties***************** */
:root {
  --first-color: #d90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --grey-light-color: #f3f3f3;
  --grey-color: #ccc;
  --grey-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", "sans-serif";
}

/* ********Reset******************************* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.7rem;
}

/* ********Components*********************** */

/* ********Utilities**************************** */
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
/* ********Site Styles************************** */

/* *********************************************************************************a */
/* *********************************************************************************b */
/* *********************************************************************************c */
/* *********************************************************************************d */
/* *********************************************************************************e */
/* *********************************************************************************f */
/* *********************************************************************************g */
/* *********************************************************************************h */
/* *********************************************************************************i */
/* *********************************************************************************j */
/* *********************************************************************************k */
/* *********************************************************************************l */
/* *********************************************************************************m */
/* *********************************************************************************n */
/* *********************************************************************************o */
/* *********************************************************************************p */
/* *********************************************************************************q */
/* *********************************************************************************r */
/* *********************************************************************************s */
/* *********************************************************************************t */
/* *********************************************************************************u */
/* *********************************************************************************v */
/* *********************************************************************************w */
/* *********************************************************************************x */
/* *********************************************************************************y */
/* *********************************************************************************z */
